In [15]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [16]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
import matplotlib.pyplot as plt
from os import listdir

In [17]:
cd C:/LeiLin/USX28452/Downloads/Citi Bike Data/

C:\LeiLin\USX28452\Downloads\Citi Bike Data

In [18]:
df = pd.read_csv('201307-citibike-tripdata.csv', parse_dates=['starttime','stoptime'])

OSError: File b'201307-citibike-tripdata.csv' does not exist

In [350]:
print (len(df))

843416

In [351]:
df['day'] = df.starttime.dt.day
df['month'] = df.starttime.dt.month
df['year'] = df.starttime.dt.year
df['dayofweek'] = df.starttime.dt.dayofweek #Monday=0, Sunday=6

In [352]:
df.head(20)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,day,month,year,dayofweek
0,634,2013-07-01 00:00:00,2013-07-01 00:10:34,164,E 47 St & 2 Ave,40.753231,-73.970325,504,1 Ave & E 15 St,40.732219,-73.981656,16950,Customer,\N,0,1,7,2013,0
1,1547,2013-07-01 00:00:02,2013-07-01 00:25:49,388,W 26 St & 10 Ave,40.749718,-74.002950,459,W 20 St & 11 Ave,40.746745,-74.007756,19816,Customer,\N,0,1,7,2013,0
2,178,2013-07-01 00:01:04,2013-07-01 00:04:02,293,Lafayette St & E 8 St,40.730287,-73.990765,237,E 11 St & 2 Ave,40.730473,-73.986724,14548,Subscriber,1980,2,1,7,2013,0
3,1580,2013-07-01 00:01:06,2013-07-01 00:27:26,531,Forsyth St & Broome St,40.718939,-73.992663,499,Broadway & W 60 St,40.769155,-73.981918,16063,Customer,\N,0,1,7,2013,0
4,757,2013-07-01 00:01:10,2013-07-01 00:13:47,382,University Pl & E 14 St,40.734927,-73.992005,410,Suffolk St & Stanton St,40.720664,-73.985180,19213,Subscriber,1986,1,1,7,2013,0
5,861,2013-07-01 00:01:23,2013-07-01 00:15:44,511,E 14 St & Avenue B,40.729387,-73.977724,454,E 51 St & 1 Ave,40.754557,-73.965930,16223,Subscriber,1988,1,1,7,2013,0
6,550,2013-07-01 00:01:59,2013-07-01 00:11:09,293,Lafayette St & E 8 St,40.730287,-73.990765,394,E 9 St & Avenue C,40.725213,-73.977688,16746,Customer,\N,0,1,7,2013,0
7,288,2013-07-01 00:02:16,2013-07-01 00:07:04,224,Spruce St & Nassau St,40.711464,-74.005524,376,John St & William St,40.708621,-74.007222,16062,Subscriber,1985,2,1,7,2013,0
8,766,2013-07-01 00:02:16,2013-07-01 00:15:02,432,E 7 St & Avenue A,40.726218,-73.983799,336,Sullivan St & Washington Sq,40.730477,-73.999061,17963,Subscriber,1980,2,1,7,2013,0
9,773,2013-07-01 00:02:23,2013-07-01 00:15:16,173,Broadway & W 49 St,40.760647,-73.984427,479,9 Ave & W 45 St,40.760193,-73.991255,19365,Subscriber,1989,1,1,7,2013,0
10,456,2013-07-01 00:02:23,2013-07-01 00:09:59,146,Hudson St & Reade St,40.716250,-74.009106,351,Front St & Maiden Ln,40.705310,-74.006126,16321,Subscriber,1976,1,1,7,2013,0
11,632,2013-07-01 00:02:24,2013-07-01 00:12:56,251,Mott St & Prince St,40.723180,-73.994800,307,Canal St & Rutgers St,40.714275,-73.989900,18935,Subscriber,1967,1,1,7,2013,0
12,623,2013-07-01 00:02:24,2013-07-01 00:12:47,479,9 Ave & W 45 St,40.760193,-73.991255,493,W 45 St & 6 Ave,40.756800,-73.982912,16036,Customer,\N,0,1,7,2013,0
13,228,2013-07-01 00:02:33,2013-07-01 00:06:21,504,1 Ave & E 15 St,40.732219,-73.981656,487,E 20 St & FDR Drive,40.733143,-73.975739,16593,Subscriber,1987,1,1,7,2013,0
14,643,2013-07-01 00:02:44,2013-07-01 00:13:27,479,9 Ave & W 45 St,40.760193,-73.991255,493,W 45 St & 6 Ave,40.756800,-73.982912,19677,Customer,\N,0,1,7,2013,0
15,1312,2013-07-01 00:03:10,2013-07-01 00:25:02,474,5 Ave & E 29 St,40.745168,-73.986831,128,MacDougal St & Prince St,40.727103,-74.002971,15480,Customer,\N,0,1,7,2013,0
16,424,2013-07-01 00:03:14,2013-07-01 00:10:18,477,W 41 St & 8 Ave,40.756405,-73.990026,485,W 37 St & 5 Ave,40.750380,-73.983390,15013,Subscriber,1972,1,1,7,2013,0
17,1129,2013-07-01 00:03:30,2013-07-01 00:22:19,470,W 20 St & 8 Ave,40.743453,-74.000040,450,W 49 St & 8 Ave,40.762272,-73.987882,16017,Subscriber,1969,1,1,7,2013,0
18,311,2013-07-01 00:03:58,2013-07-01 00:09:09,494,W 26 St & 8 Ave,40.747348,-73.997236,458,11 Ave & W 27 St,40.751396,-74.005226,20595,Customer,\N,0,1,7,2013,0
19,1275,2013-07-01 00:04:10,2013-07-01 00:25:25,345,W 13 St & 6 Ave,40.736494,-73.997044,455,1 Ave & E 44 St,40.750020,-73.969053,16236,Subscriber,1983,1,1,7,2013,0

In [353]:
df['hourofday'] = df.starttime.dt.hour
df['rentnum'] = 1

In [354]:
df.head(3)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,...,bikeid,usertype,birth year,gender,day,month,year,dayofweek,hourofday,rentnum
0,634,2013-07-01 00:00:00,2013-07-01 00:10:34,164,E 47 St & 2 Ave,40.753231,-73.970325,504,1 Ave & E 15 St,40.732219,...,16950,Customer,\N,0,1,7,2013,0,0,1
1,1547,2013-07-01 00:00:02,2013-07-01 00:25:49,388,W 26 St & 10 Ave,40.749718,-74.002950,459,W 20 St & 11 Ave,40.746745,...,19816,Customer,\N,0,1,7,2013,0,0,1
2,178,2013-07-01 00:01:04,2013-07-01 00:04:02,293,Lafayette St & E 8 St,40.730287,-73.990765,237,E 11 St & 2 Ave,40.730473,...,14548,Subscriber,1980,2,1,7,2013,0,0,1

In [355]:
# group by day and hour
df_aggre = df.groupby(['year','month','day','hourofday','dayofweek','usertype'])['rentnum'].sum().unstack()
#.reset_index()

In [356]:
df_aggre.head(3)

usertype                            Customer  Subscriber
year month day hourofday dayofweek
2013 7     1   0         0                90         139
               1         0                35          71
               2         0                34          40

In [357]:
print (len(df_aggre))

744

In [358]:
df_aggre.to_csv('bikesharing201307.csv')

In [19]:
cd C:/LeiLin/USX28452/Downloads/Citi Bike Data/hourlyvolume/

C:\LeiLin\USX28452\Downloads\Citi Bike Data\hourlyvolume

In [56]:
i = 0
df =[]
for f in listdir('C:/LeiLin/USX28452/Downloads/Citi Bike Data/hourlyvolume'):
    print (f)
    if i == 0:
        df.append(pd.read_csv(f))
        i = 1
    else:
        df.append(pd.read_csv(f, skiprows = 0))
df = pd.concat(df)

bikesharing201307.csv
bikesharing201308.csv
bikesharing201309.csv
bikesharing201310.csv
bikesharing201311.csv
bikesharing201312.csv
bikesharing201401.csv
bikesharing201402.csv
bikesharing201403.csv
bikesharing201404.csv
bikesharing201405.csv
bikesharing201406.csv
bikesharing201407.csv
bikesharing201408.csv
bikesharing201409.csv
bikesharing201410.csv
bikesharing201411.csv
bikesharing201412.csv
bikesharing201501.csv
bikesharing201502.csv
bikesharing201503.csv
bikesharing201504.csv
bikesharing201505.csv
bikesharing201506.csv
bikesharing201507.csv
bikesharing201508.csv
bikesharing201509.csv
bikesharing201510.csv
bikesharing201511.csv
bikesharing201512.csv
bikesharing201601.csv
bikesharing201602.csv
bikesharing201603.csv
bikesharing201604.csv
bikesharing201605.csv
bikesharing201606.csv

In [57]:
print (len(df))
df.head()
print (pd.isnull(df).any(1).nonzero()[0])# return the rows with NaN values
print (df.iloc[1540])
#customer is NaN
df.fillna(value = 0, inplace = True) # NaN means nobody borrows the bikes
print (df.iloc[1540])

26190
[ 1540  1875  1994 ..., 25761 26002 26122]
year          2013.0
month            9.0
day              3.0
hourofday        4.0
dayofweek        1.0
Customer         NaN
Subscriber      33.0
Name: 52, dtype: float64
year          2013.0
month            9.0
day              3.0
hourofday        4.0
dayofweek        1.0
Customer         0.0
Subscriber      33.0
Name: 52, dtype: float64

In [58]:
df_addmissing = df.groupby(['month','hourofday'])['Customer','Subscriber'].mean().reset_index()
print (df_addmissing)

     month  hourofday    Customer   Subscriber
0        1          0    5.000000   102.113636
1        1          1    3.681818    60.386364
2        1          2    1.829545    37.772727
3        1          3    1.306818    24.715909
4        1          4    1.078652    25.730337
5        1          5    0.876404    82.719101
6        1          6    1.573034   304.056180
7        1          7    3.876404   589.674157
8        1          8    9.550562  1066.876404
9        1          9   14.460674   835.674157
10       1         10   22.988764   515.123596
11       1         11   32.247191   519.764045
12       1         12   39.640449   602.000000
13       1         13   46.089888   636.921348
14       1         14   48.696629   675.325843
15       1         15   47.910112   705.820225
16       1         16   42.584270   839.584270
17       1         17   29.393258  1162.067416
18       1         18   20.415730  1111.044944
19       1         19   14.359551   752.606742
20       1         20   11.258427   487.067416
21       1         21    8.943820   333.078652
22       1         22    7.561798   255.707865
23       1         23    5.314607   164.393258
24       2          0    3.294118    94.447059
25       2          1    1.952941    50.894118
26       2          2    1.235294    31.470588
27       2          3    0.869048    20.107143
28       2          4    0.435294    22.223529
29       2          5    0.658824    75.788235
..     ...        ...         ...          ...
258     11         18   86.377778  1992.911111
259     11         19   62.466667  1378.233333
260     11         20   49.111111   926.511111
261     11         21   41.988889   666.533333
262     11         22   36.255556   512.900000
263     11         23   27.966667   348.755556
264     12          0   12.096774   170.053763
265     12          1    8.107527    99.838710
266     12          2    4.516129    59.892473
267     12          3    3.344086    36.376344
268     12          4    2.387097    36.645161
269     12          5    1.655914   103.021505
270     12          6    4.430108   387.580645
271     12          7   10.419355   823.462366
272     12          8   25.709677  1477.376344
273     12          9   43.913978  1183.139785
274     12         10   66.666667   774.516129
275     12         11   91.494624   767.096774
276     12         12  108.956989   892.419355
277     12         13  121.064516   934.096774
278     12         14  126.892473   977.247312
279     12         15  128.086022  1021.838710
280     12         16  102.096774  1168.752688
281     12         17   68.698925  1504.290323
282     12         18   50.376344  1423.784946
283     12         19   38.473118   973.494624
284     12         20   29.440860   654.903226
285     12         21   25.860215   483.311828
286     12         22   23.849462   376.591398
287     12         23   17.086022   266.043011

[288 rows x 4 columns]

In [59]:
idx = pd.date_range(start='2013-07-01', end = '2016-07-01', freq = '1H')
print(idx)

DatetimeIndex(['2013-07-01 00:00:00', '2013-07-01 01:00:00',
               '2013-07-01 02:00:00', '2013-07-01 03:00:00',
               '2013-07-01 04:00:00', '2013-07-01 05:00:00',
               '2013-07-01 06:00:00', '2013-07-01 07:00:00',
               '2013-07-01 08:00:00', '2013-07-01 09:00:00',
               ...
               '2016-06-30 15:00:00', '2016-06-30 16:00:00',
               '2016-06-30 17:00:00', '2016-06-30 18:00:00',
               '2016-06-30 19:00:00', '2016-06-30 20:00:00',
               '2016-06-30 21:00:00', '2016-06-30 22:00:00',
               '2016-06-30 23:00:00', '2016-07-01 00:00:00'],
              dtype='datetime64[ns]', length=26305, freq='H')

In [60]:
d = {'year':idx.year, 'month':idx.month, 'day':idx.day, 'hourofday':idx.hour, 'dayofweek':idx.dayofweek}
newdf = pd.DataFrame(d)
print (newdf)

       day  dayofweek  hourofday  month  year
0        1          0          0      7  2013
1        1          0          1      7  2013
2        1          0          2      7  2013
3        1          0          3      7  2013
4        1          0          4      7  2013
5        1          0          5      7  2013
6        1          0          6      7  2013
7        1          0          7      7  2013
8        1          0          8      7  2013
9        1          0          9      7  2013
10       1          0         10      7  2013
11       1          0         11      7  2013
12       1          0         12      7  2013
13       1          0         13      7  2013
14       1          0         14      7  2013
15       1          0         15      7  2013
16       1          0         16      7  2013
17       1          0         17      7  2013
18       1          0         18      7  2013
19       1          0         19      7  2013
20       1          0         20      7  2013
21       1          0         21      7  2013
22       1          0         22      7  2013
23       1          0         23      7  2013
24       2          1          0      7  2013
25       2          1          1      7  2013
26       2          1          2      7  2013
27       2          1          3      7  2013
28       2          1          4      7  2013
29       2          1          5      7  2013
...    ...        ...        ...    ...   ...
26275   29          2         19      6  2016
26276   29          2         20      6  2016
26277   29          2         21      6  2016
26278   29          2         22      6  2016
26279   29          2         23      6  2016
26280   30          3          0      6  2016
26281   30          3          1      6  2016
26282   30          3          2      6  2016
26283   30          3          3      6  2016
26284   30          3          4      6  2016
26285   30          3          5      6  2016
26286   30          3          6      6  2016
26287   30          3          7      6  2016
26288   30          3          8      6  2016
26289   30          3          9      6  2016
26290   30          3         10      6  2016
26291   30          3         11      6  2016
26292   30          3         12      6  2016
26293   30          3         13      6  2016
26294   30          3         14      6  2016
26295   30          3         15      6  2016
26296   30          3         16      6  2016
26297   30          3         17      6  2016
26298   30          3         18      6  2016
26299   30          3         19      6  2016
26300   30          3         20      6  2016
26301   30          3         21      6  2016
26302   30          3         22      6  2016
26303   30          3         23      6  2016
26304    1          4          0      7  2016

[26305 rows x 5 columns]

In [61]:
res = pd.merge(newdf, df, how = 'left', on = ['year', 'month', 'day', 'hourofday','dayofweek'])

In [62]:
print (len(res))
res = res.iloc[0:len(res) - 1]
print (len(res))

26305
26304

In [63]:
res = pd.merge(res, df_addmissing, how = 'left', on = ['month', 'hourofday'])

In [64]:
res.head()

,day,dayofweek,hourofday,month,year,Customer_x,Subscriber_x,Customer_y,Subscriber_y
0,1,0,0,7,2013,90.0,139.0,74.763441,274.881720
1,1,0,1,7,2013,35.0,71.0,44.731183,150.193548
2,1,0,2,7,2013,34.0,40.0,29.989247,87.150538
3,1,0,3,7,2013,21.0,20.0,20.268817,54.989247
4,1,0,4,7,2013,14.0,23.0,13.032258,48.935484

In [65]:
res['Customer_x'] = res[['Customer_x', 'Customer_y']].apply(lambda x: (x['Customer_x'], x['Customer_y'])
              [pd.isnull(x['Customer_x'])], axis = 1)
res['Subscriber_x'] = res[['Subscriber_x', 'Subscriber_y']].apply(lambda x: (x['Subscriber_x'], x['Subscriber_y'])
              [pd.isnull(x['Subscriber_x'])], axis = 1)

In [66]:
print (res)

       day  dayofweek  hourofday  month  year  Customer_x  Subscriber_x  \
0        1          0          0      7  2013        90.0         139.0
1        1          0          1      7  2013        35.0          71.0
2        1          0          2      7  2013        34.0          40.0
3        1          0          3      7  2013        21.0          20.0
4        1          0          4      7  2013        14.0          23.0
5        1          0          5      7  2013        21.0         107.0
6        1          0          6      7  2013        38.0         404.0
7        1          0          7      7  2013        57.0         818.0
8        1          0          8      7  2013       191.0        1547.0
9        1          0          9      7  2013       148.0         807.0
10       1          0         10      7  2013        41.0         217.0
11       1          0         11      7  2013        43.0         139.0
12       1          0         12      7  2013        85.0         353.0
13       1          0         13      7  2013       115.0         399.0
14       1          0         14      7  2013       107.0         349.0
15       1          0         15      7  2013       134.0         452.0
16       1          0         16      7  2013       167.0         718.0
17       1          0         17      7  2013       228.0        1522.0
18       1          0         18      7  2013       254.0        1735.0
19       1          0         19      7  2013       275.0        1454.0
20       1          0         20      7  2013       209.0        1066.0
21       1          0         21      7  2013       169.0         701.0
22       1          0         22      7  2013       148.0         524.0
23       1          0         23      7  2013       110.0         311.0
24       2          1          0      7  2013        67.0         162.0
25       2          1          1      7  2013        44.0          56.0
26       2          1          2      7  2013        29.0          28.0
27       2          1          3      7  2013        32.0          17.0
28       2          1          4      7  2013        13.0          17.0
29       2          1          5      7  2013        16.0          76.0
...    ...        ...        ...    ...   ...         ...           ...
26274   29          2         18      6  2016       303.0        5731.0
26275   29          2         19      6  2016       258.0        3884.0
26276   29          2         20      6  2016       189.0        2686.0
26277   29          2         21      6  2016       125.0        1969.0
26278   29          2         22      6  2016        98.0        1326.0
26279   29          2         23      6  2016        48.0         849.0
26280   30          3          0      6  2016        61.0         423.0
26281   30          3          1      6  2016        27.0         190.0
26282   30          3          2      6  2016         7.0          86.0
26283   30          3          3      6  2016         3.0          64.0
26284   30          3          4      6  2016         5.0          63.0
26285   30          3          5      6  2016         7.0         333.0
26286   30          3          6      6  2016        14.0        1415.0
26287   30          3          7      6  2016        41.0        2869.0
26288   30          3          8      6  2016        77.0        5151.0
26289   30          3          9      6  2016       126.0        3661.0
26290   30          3         10      6  2016       198.0        2084.0
26291   30          3         11      6  2016       232.0        1878.0
26292   30          3         12      6  2016       287.0        2199.0
26293   30          3         13      6  2016       271.0        2300.0
26294   30          3         14      6  2016       373.0        2194.0
26295   30          3         15      6  2016       380.0        2319.0
26296   30          3         16      6  2016       350.0        3046.0
26297   30          3         17      6  2016       323.0        5190.0
26298   30          3         18      6  2016       306.0        5230.0
26299   30          3         19      6  2016       250.0        3727.0
26300   30          3         20      6  2016       203.0        2621.0
26301   30          3         21      6  2016       119.0        1692.0
26302   30          3         22      6  2016       109.0        1314.0
26303   30          3         23      6  2016        90.0         935.0

       Customer_y  Subscriber_y
0       74.763441    274.881720
1       44.731183    150.193548
2       29.989247     87.150538
3       20.268817     54.989247
4       13.032258     48.935484
5       10.892473    150.731183
6       28.430108    620.247312
7       58.096774   1246.838710
8      120.569892   2165.838710
9      165.634409   1718.924731
10     223.688172   1042.741935
11     305.526882   1044.333333
12     359.344086   1244.838710
13     385.720430   1300.161290
14     410.365591   1270.172043
15     441.193548   1365.709677
16     445.064516   1689.913978
17     452.537634   2566.634409
18     416.322581   2608.946237
19     351.215054   1936.731183
20     272.225806   1341.903226
21     189.645161    931.526882
22     161.956989    717.451613
23     119.225806    480.344086
24      74.763441    274.881720
25      44.731183    150.193548
26      29.989247     87.150538
27      20.268817     54.989247
28      13.032258     48.935484
29      10.892473    150.731183
...           ...           ...
26274  357.777778   3220.100000
26275  282.877778   2302.800000
26276  213.044444   1638.611111
26277  141.877778   1102.044444
26278  107.655556    817.255556
26279   79.433333    571.366667
26280   50.844444    322.755556
26281   30.488889    168.322222
26282   17.922222     99.522222
26283   12.166667     62.622222
26284    8.622222     56.288889
26285    7.755556    192.544444
26286   17.755556    762.766667
26287   42.377778   1566.811111
26288   90.388889   2724.544444
26289  140.444444   2112.988889
26290  212.444444   1345.022222
26291  290.244444   1363.222222
26292  348.300000   1548.344444
26293  376.100000   1640.511111
26294  416.722222   1688.522222
26295  425.711111   1779.022222
26296  423.577778   2182.500000
26297  410.111111   3320.388889
26298  357.777778   3220.100000
26299  282.877778   2302.800000
26300  213.044444   1638.611111
26301  141.877778   1102.044444
26302  107.655556    817.255556
26303   79.433333    571.366667

[26304 rows x 9 columns]

In [67]:
res = res.ix[:,0:7]
res.columns = ['day', 'dayofweek', 'hourofday', 'month', 'year', 'Customer', 'Subscriber']

In [68]:
print (res)

       day  dayofweek  hourofday  month  year  Customer  Subscriber
0        1          0          0      7  2013      90.0       139.0
1        1          0          1      7  2013      35.0        71.0
2        1          0          2      7  2013      34.0        40.0
3        1          0          3      7  2013      21.0        20.0
4        1          0          4      7  2013      14.0        23.0
5        1          0          5      7  2013      21.0       107.0
6        1          0          6      7  2013      38.0       404.0
7        1          0          7      7  2013      57.0       818.0
8        1          0          8      7  2013     191.0      1547.0
9        1          0          9      7  2013     148.0       807.0
10       1          0         10      7  2013      41.0       217.0
11       1          0         11      7  2013      43.0       139.0
12       1          0         12      7  2013      85.0       353.0
13       1          0         13      7  2013     115.0       399.0
14       1          0         14      7  2013     107.0       349.0
15       1          0         15      7  2013     134.0       452.0
16       1          0         16      7  2013     167.0       718.0
17       1          0         17      7  2013     228.0      1522.0
18       1          0         18      7  2013     254.0      1735.0
19       1          0         19      7  2013     275.0      1454.0
20       1          0         20      7  2013     209.0      1066.0
21       1          0         21      7  2013     169.0       701.0
22       1          0         22      7  2013     148.0       524.0
23       1          0         23      7  2013     110.0       311.0
24       2          1          0      7  2013      67.0       162.0
25       2          1          1      7  2013      44.0        56.0
26       2          1          2      7  2013      29.0        28.0
27       2          1          3      7  2013      32.0        17.0
28       2          1          4      7  2013      13.0        17.0
29       2          1          5      7  2013      16.0        76.0
...    ...        ...        ...    ...   ...       ...         ...
26274   29          2         18      6  2016     303.0      5731.0
26275   29          2         19      6  2016     258.0      3884.0
26276   29          2         20      6  2016     189.0      2686.0
26277   29          2         21      6  2016     125.0      1969.0
26278   29          2         22      6  2016      98.0      1326.0
26279   29          2         23      6  2016      48.0       849.0
26280   30          3          0      6  2016      61.0       423.0
26281   30          3          1      6  2016      27.0       190.0
26282   30          3          2      6  2016       7.0        86.0
26283   30          3          3      6  2016       3.0        64.0
26284   30          3          4      6  2016       5.0        63.0
26285   30          3          5      6  2016       7.0       333.0
26286   30          3          6      6  2016      14.0      1415.0
26287   30          3          7      6  2016      41.0      2869.0
26288   30          3          8      6  2016      77.0      5151.0
26289   30          3          9      6  2016     126.0      3661.0
26290   30          3         10      6  2016     198.0      2084.0
26291   30          3         11      6  2016     232.0      1878.0
26292   30          3         12      6  2016     287.0      2199.0
26293   30          3         13      6  2016     271.0      2300.0
26294   30          3         14      6  2016     373.0      2194.0
26295   30          3         15      6  2016     380.0      2319.0
26296   30          3         16      6  2016     350.0      3046.0
26297   30          3         17      6  2016     323.0      5190.0
26298   30          3         18      6  2016     306.0      5230.0
26299   30          3         19      6  2016     250.0      3727.0
26300   30          3         20      6  2016     203.0      2621.0
26301   30          3         21      6  2016     119.0      1692.0
26302   30          3         22      6  2016     109.0      1314.0
26303   30          3         23      6  2016      90.0       935.0

[26304 rows x 7 columns]

In [69]:

import holidays

In [70]:
for date, name in sorted(holidays.US(state='NY', years=2014).items()):
    print (date, name)

2014-01-01 New Year's Day
2014-01-20 Martin Luther King, Jr. Day
2014-02-12 Lincoln's Birthday
2014-02-15 Susan B. Anthony Day
2014-02-17 Washington's Birthday
2014-05-26 Memorial Day
2014-07-04 Independence Day
2014-09-01 Labor Day
2014-10-13 Columbus Day
2014-11-04 Election Day
2014-11-11 Veterans Day
2014-11-27 Thanksgiving
2014-12-25 Christmas Day

In [71]:
for date, name in sorted(holidays.US(years=2014).items()):
    print (date, name)

2014-01-01 New Year's Day
2014-01-20 Martin Luther King, Jr. Day
2014-02-17 Washington's Birthday
2014-05-26 Memorial Day
2014-07-04 Independence Day
2014-09-01 Labor Day
2014-10-13 Columbus Day
2014-11-11 Veterans Day
2014-11-27 Thanksgiving
2014-12-25 Christmas Day

In [72]:
from datetime import date
# national holiday
us_holidays = holidays.US()
res['US_holiday'] = res[['year', 'month', 'day']].apply(lambda x: (0, 1)[date(x['year'],x['month'],x['day']) in us_holidays], axis = 1)

# new york holiday
ny_holidays = holidays.US(state='NY')
res['NY_holiday'] = res[['year', 'month', 'day']].apply(lambda x: (0, 1)[date(x['year'],x['month'],x['day']) in ny_holidays], axis = 1)

In [74]:
# more holidays
# thanksgiving friday
res.loc[(res['year'] == 2013) & (res ['month'] == 11) & (res['day'] == 29), "US_holiday"] = 1
res.loc[(res['year'] == 2014) & (res ['month'] == 11) & (res['day'] == 28), "US_holiday"] = 1
res.loc[(res['year'] == 2015) & (res ['month'] == 11) & (res['day'] == 27), "US_holiday"] = 1

res.loc[(res['year'] == 2013) & (res ['month'] == 11) & (res['day'] == 29), "NY_holiday"] = 1
res.loc[(res['year'] == 2014) & (res ['month'] == 11) & (res['day'] == 28), "NY_holiday"] = 1
res.loc[(res['year'] == 2015) & (res ['month'] == 11) & (res['day'] == 27), "NY_holiday"] = 1

In [79]:
# work_day-not a holiday and monday - Friday
res['NY_workday'] = res[['NY_holiday','dayofweek']].apply(lambda x: (0, 1)[x['NY_holiday'] == 0 and x['dayofweek'] <5], axis = 1)
res['US_workday'] = res[['US_holiday','dayofweek']].apply(lambda x: (0, 1)[x['US_holiday'] == 0 and x['dayofweek'] <5], axis = 1)

In [80]:
print (res)

       day  dayofweek  hourofday  month  year  Customer  Subscriber  \
0        1          0          0      7  2013      90.0       139.0
1        1          0          1      7  2013      35.0        71.0
2        1          0          2      7  2013      34.0        40.0
3        1          0          3      7  2013      21.0        20.0
4        1          0          4      7  2013      14.0        23.0
5        1          0          5      7  2013      21.0       107.0
6        1          0          6      7  2013      38.0       404.0
7        1          0          7      7  2013      57.0       818.0
8        1          0          8      7  2013     191.0      1547.0
9        1          0          9      7  2013     148.0       807.0
10       1          0         10      7  2013      41.0       217.0
11       1          0         11      7  2013      43.0       139.0
12       1          0         12      7  2013      85.0       353.0
13       1          0         13      7  2013     115.0       399.0
14       1          0         14      7  2013     107.0       349.0
15       1          0         15      7  2013     134.0       452.0
16       1          0         16      7  2013     167.0       718.0
17       1          0         17      7  2013     228.0      1522.0
18       1          0         18      7  2013     254.0      1735.0
19       1          0         19      7  2013     275.0      1454.0
20       1          0         20      7  2013     209.0      1066.0
21       1          0         21      7  2013     169.0       701.0
22       1          0         22      7  2013     148.0       524.0
23       1          0         23      7  2013     110.0       311.0
24       2          1          0      7  2013      67.0       162.0
25       2          1          1      7  2013      44.0        56.0
26       2          1          2      7  2013      29.0        28.0
27       2          1          3      7  2013      32.0        17.0
28       2          1          4      7  2013      13.0        17.0
29       2          1          5      7  2013      16.0        76.0
...    ...        ...        ...    ...   ...       ...         ...
26274   29          2         18      6  2016     303.0      5731.0
26275   29          2         19      6  2016     258.0      3884.0
26276   29          2         20      6  2016     189.0      2686.0
26277   29          2         21      6  2016     125.0      1969.0
26278   29          2         22      6  2016      98.0      1326.0
26279   29          2         23      6  2016      48.0       849.0
26280   30          3          0      6  2016      61.0       423.0
26281   30          3          1      6  2016      27.0       190.0
26282   30          3          2      6  2016       7.0        86.0
26283   30          3          3      6  2016       3.0        64.0
26284   30          3          4      6  2016       5.0        63.0
26285   30          3          5      6  2016       7.0       333.0
26286   30          3          6      6  2016      14.0      1415.0
26287   30          3          7      6  2016      41.0      2869.0
26288   30          3          8      6  2016      77.0      5151.0
26289   30          3          9      6  2016     126.0      3661.0
26290   30          3         10      6  2016     198.0      2084.0
26291   30          3         11      6  2016     232.0      1878.0
26292   30          3         12      6  2016     287.0      2199.0
26293   30          3         13      6  2016     271.0      2300.0
26294   30          3         14      6  2016     373.0      2194.0
26295   30          3         15      6  2016     380.0      2319.0
26296   30          3         16      6  2016     350.0      3046.0
26297   30          3         17      6  2016     323.0      5190.0
26298   30          3         18      6  2016     306.0      5230.0
26299   30          3         19      6  2016     250.0      3727.0
26300   30          3         20      6  2016     203.0      2621.0
26301   30          3         21      6  2016     119.0      1692.0
26302   30          3         22      6  2016     109.0      1314.0
26303   30          3         23      6  2016      90.0       935.0

       US_holiday  NY_holiday  NY_workday  US_workday
0               0           0           1           1
1               0           0           1           1
2               0           0           1           1
3               0           0           1           1
4               0           0           1           1
5               0           0           1           1
6               0           0           1           1
7               0           0           1           1
8               0           0           1           1
9               0           0           1           1
10              0           0           1           1
11              0           0           1           1
12              0           0           1           1
13              0           0           1           1
14              0           0           1           1
15              0           0           1           1
16              0           0           1           1
17              0           0           1           1
18              0           0           1           1
19              0           0           1           1
20              0           0           1           1
21              0           0           1           1
22              0           0           1           1
23              0           0           1           1
24              0           0           1           1
25              0           0           1           1
26              0           0           1           1
27              0           0           1           1
28              0           0           1           1
29              0           0           1           1
...           ...         ...         ...         ...
26274           0           0           1           1
26275           0           0           1           1
26276           0           0           1           1
26277           0           0           1           1
26278           0           0           1           1
26279           0           0           1           1
26280           0           0           1           1
26281           0           0           1           1
26282           0           0           1           1
26283           0           0           1           1
26284           0           0           1           1
26285           0           0           1           1
26286           0           0           1           1
26287           0           0           1           1
26288           0           0           1           1
26289           0           0           1           1
26290           0           0           1           1
26291           0           0           1           1
26292           0           0           1           1
26293           0           0           1           1
26294           0           0           1           1
26295           0           0           1           1
26296           0           0           1           1
26297           0           0           1           1
26298           0           0           1           1
26299           0           0           1           1
26300           0           0           1           1
26301           0           0           1           1
26302           0           0           1           1
26303           0           0           1           1

[26304 rows x 11 columns]

In [81]:
res.to_csv('bikedemand.csv')